{% import "macros.html" as macro %}

<!DOCTYPE html>
<html lang="{% if page.extra.lang %}{{ page.extra.lang }}{% else %}{{ lang }}{% endif %}" itemscope itemtype="http://schema.org/Blog">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <link rel="stylesheet" href="{{ get_url(path="site.css", trailing_slash=false) | safe }}">
  <title>{% block title %}{{ config.title }}{% endblock title %}</title>
  
  {% if config.generate_rss %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml") }}">
  {% endif %}

  <meta name="description" itemprop="about" content="{{ config.description }}">
  <meta name="keywords" itemprop="keywords" content="{{ config.extra.keywords }}">
  <meta name="author" itemprop="author" content="{{ config.extra.author }}">
  <meta itemprop="headline" content="{{ config.title }}">
  <meta itemprop="copyrightYear" content="{{ config.extra.year }}">

  <link rel="icon" href="{{ get_url(path="images/favicon.ico") }}" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="57x57" href="{{ get_url(path="images/apple-icon-57x57.png") }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ get_url(path="images/apple-icon-60x60.png") }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ get_url(path="images/apple-icon-72x72.png") }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ get_url(path="images/apple-icon-76x76.png") }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ get_url(path="images/apple-icon-114x114.png") }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ get_url(path="images/apple-icon-120x120.png") }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ get_url(path="images/apple-icon-144x144.png") }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ get_url(path="images/apple-icon-152x152.png") }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ get_url(path="images/apple-icon-180x180.png") }}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ get_url(path="images/android-icon-192x192.png") }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ get_url(path="images/favicon-32x32.png") }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ get_url(path="images/favicon-96x96.png") }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ get_url(path="images/favicon-16x16.png") }}">
  <link rel="manifest" href="{{ get_url(path="images/manifest.json") }}">

  <meta property="og:title" content="{% block ogtitle %}{{ config.title }}{% endblock ogtitle %}">
  <meta property="og:description" content="{% block ogdesc %}{{ config.description }}{% endblock ogdesc %}">
  <meta property="og:url" content="{% block ogurl %}{{ config.base_url }}{% endblock ogurl%}">
  <meta property="og:site_name" content="{{ config.title }}">
  {% if config.extra.image %}
  <meta property="og:image" content="{% block ogimg %}{{ config.extra.image }}{% endblock ogimg %}">
  {% endif %}
  <meta name="twitter:card" content="summary">
  {% if config.extra.twitter_user %}
  <meta name="twitter:site" content="{{ config.extra.twitter_user }}">
  <meta name="twitter:creator" content="{{ config.extra.twitter_user }}">
  <meta name="twitter:image:alt" content="{% block ogaltimg %}{{ config.title }}{% endblock ogaltimg %}">
  {% endif %}
</head>

<body data-spy="scroll" data-target=".bs-docs-sidebar">
  <div class="center-content">
  <div class="container navmargin">
    <header class="jumbotron subhead" id="overview">
      {% block breadcrumb %}{% endblock breadcrumb %}
      {% block header %}
      <div class="page-header">
          <div class="main-info" >
            <img src="{{ get_url(path="images/me-150x150.png") }}"
                alt="A picture of Tim Baccaert." width="150" height="150">

            <div class="main-info-text">
                <h1>{{ config.title }}</h1>

                <p class="contact-info">
                    <strong>{{ config.extra.job }}</strong><br>
                    {{ config.extra.department }}<br>
                    {{ config.extra.university }}<br>
                    <strong>Address</strong> {{ config.extra.address}}<br>
                    <strong>Office</strong> {{config.extra.office}}<br>
                    <strong>Email</strong> 
                    <a href="mailto:{{config.extra.email}}">
                        {{config.extra.email}}
                    </a>
                </p>
            </div>
        </div>

        <div class="description">
            {{ section.content | safe }}
        </div>

        <div class="links">
            <a class="btn" href="cv.pdf" target="_blank">Curriculum Vitae</a>
            {% if config.extra.orcid %}
            <a class="btn" href="https://orcid.org/{{config.extra.orcid}}" target="_blank">ORCID</a>
            {% endif %}
            {% if config.extra.github %}
            <a class="btn" href="https://github.com/{{config.extra.github}}" target="_blank">GitHub</a>
            {% endif %}
        </div>
      </div>
      {% endblock header %}
      {% block meta %}{% endblock meta %}
    </header>

    <div class="main-content">
      {% block main %}
      {% for subsection in section.subsections %}
        {% set subsect = get_section(path=subsection) %}
        {% set data_path = "content" ~ subsect.path ~ subsect.components[0] ~ ".bib" %}
        {% set data = load_data(path=data_path, required=false, format="bibtex") %}
        {% if data %}
        <h2>{{ subsect.title }}</h2>
        {% set bibitems_map = data.bibliographies | group_by(attribute="tags.year") %}
        {% set_global years = [] %}
        {% for year, ignored in bibitems_map %}
            {% set int_year = year | int %}
            {% set_global years = years | concat(with=int_year) %}
        {% endfor %}
        {% for year in years | sort | reverse %}
            <h3>{{year}}</h3>
            {% set bibitem_by_year = bibitems_map[year] %}
            {% for bibitem in bibitem_by_year %}
            <div class="bib-item">
                {% if subsect.path != "/services/" %}
                <a class="bib-item-title" href="{{bibitem.tags.url}}"
                    target="_blank">{{ bibitem.tags.title }}</a>
                {% endif %}
                {% if subsect.path == "/services/" %}
                <p class="bib-item-title">{{ bibitem.tags.title }}</p>
                {% endif %}
                <p class="bib-item-author">
                {{ bibitem.tags.author | replace(from=" and", to=", ") }}
                </p>
            </div>
            {% endfor %}
        {% endfor %}
        {% endif %}
      {% endfor %}
      {% endblock main %}
    </div>

  <footer class="container">
    <hr class="soften">
    <p>
        {{ config.extra.year }} &copy;
        <a href="{{ config.base_url }}">{{ config.extra.author }}</a>
    </p>
  </footer>
</div>

  <script src="{{ get_url(path="js/jquery.js", trailing_slash=false) | safe }}"></script>
  <script src="{{ get_url(path="js/bootstrap-386.js", trailing_slash=false) | safe }}"></script>
  <script src="{{ get_url(path="js/bootstrap-transition.js", trailing_slash=false) | safe }}"></script>
  <script src="{{ get_url(path="js/bootstrap-alert.js", trailing_slash=false) | safe }}"></script>
  <script src="{{ get_url(path="js/bootstrap-modal.js", trailing_slash=false) | safe }}"></script>
  <script src="{{ get_url(path="js/bootstrap-dropdown.js", trailing_slash=false) | safe }}"></script>
  <script src="{{ get_url(path="js/bootstrap-scrollspy.js", trailing_slash=false) | safe }}"></script>
  <script src="{{ get_url(path="js/bootstrap-tab.js", trailing_slash=false) | safe }}"></script>
  <script src="{{ get_url(path="js/bootstrap-tooltip.js", trailing_slash=false) | safe }}"></script>
  <script src="{{ get_url(path="js/bootstrap-popover.js", trailing_slash=false) | safe }}"></script>
  <script src="{{ get_url(path="js/bootstrap-button.js", trailing_slash=false) | safe }}"></script>
  <script src="{{ get_url(path="js/bootstrap-collapse.js", trailing_slash=false) | safe }}"></script>
  <script src="{{ get_url(path="js/bootstrap-carousel.js", trailing_slash=false) | safe }}"></script>
  <script src="{{ get_url(path="js/bootstrap-typeahead.js", trailing_slash=false) | safe }}"></script>
  <script src="{{ get_url(path="js/bootstrap-affix.js", trailing_slash=false) | safe }}"></script>
  <script src="{{ get_url(path="js/zola.386.js", trailing_slash=false) | safe }}"></script>
</body>
</html>
